<p-panel header="Uncommon pipes" class="p-2">
  <p>
    Uncommon Pipes of angular
  </p>

</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">

      <p> Hello! {{name}}, It's a pleasure to {{gender |i18nSelect:invitationMap}} to our event </p>
    </p-fieldset>

    <p-button (onClick)="changeClient()" label="Change Client">

    </p-button>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p> Actually {{clients.length | i18nPlural:clientsMap}}</p>
      <p-button (onClick)="deleteClient()" label="Delete Client"></p-button>
    </p-fieldset>

  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{clients}}</pre>

      <b>Slice:0:2</b>
      <pre>{{clients | slice:0:2}}</pre>
      <b>Slice:1:2</b>
      <pre>{{clients | slice:1:2}}</pre>
    </p-fieldset>

  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{person |json}}
      </pre>
    </p-fieldset>

  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <!-- <li *ngFor="let item of person |keyvalue ">
          {{item | json}}
        </li> -->
        <li *ngFor="let item of person |keyvalue ">
          <b>{{item.key | titlecase}}:</b> {{item.value}}
        </li>
      </ul>
    </p-fieldset>

  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="!(myObservableTimer |async)">Solving observable</pre>
      <pre>{{myObservableTimer |async}}</pre>

      <pre *ngIf="!(promiseValue |async)">Solving promise</pre>
      <pre>{{promiseValue |async}}</pre>
    </p-fieldset>

  </div>
</div>
